In [25]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [27]:
df3 = pd.Series('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [28]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [29]:
df.head(7)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10

In [30]:
df.shape

(60943, 12)

In [31]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [32]:
item = df.groupby(['Item']).sum()

In [33]:
item

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [34]:
mean = df['Y2015'].mean()
float_dec = "{:.3f}".format(mean)

In [ ]:
float_dec

In [ ]:
stand = df['Y2015'].std()
stad_dec = "{:.3f}".format(stand)

In [ ]:
stad_dec

In [ ]:
total = df['Y2016'].isnull().sum()

In [ ]:
percent_missing = round(total * 100 / len(df),2)
percent_missing

In [ ]:
plt.figure(figsize=(8,6))
sns.scatterplot(data=df, x='Element Code', y='Y2014',sizes=(20, 200));

In [ ]:
new_df = df.groupby(['Element'],axis=0,as_index=True).sum()

In [ ]:
new_df

In [ ]:
new_df2 = df.groupby(['Element','Y2018'],axis=0,as_index=True).sum()

In [ ]:
new_df2

In [ ]:
df.head()

In [35]:
enteries = df['Area'].nunique()

In [36]:
enteries

49