In [63]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

## Meaning of each feature
Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [3]:
df = pd.read_csv(r"C:\Users\USER\Downloads\python folders\DATA\energydata_complete.csv",)

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
X = df['T2']
y = df['T6']

In [74]:
model = LinearRegression()

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
X_train = X_train.values.reshape(-1, 1)
y_train = y_train.values.reshape(-1, 1)
X_test = X_test.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

In [10]:
model.fit(X_train,y_train)

LinearRegression()

In [12]:
test_predictions = model.predict(X_test)

In [11]:
from sklearn.metrics import r2_score

In [14]:
r_score = r2_score(y_test,test_predictions)
round(r_score,2)

0.64

In [16]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [18]:
remove_col = df[['date','lights']]
df2 = df.drop(remove_col,axis=1)

In [19]:
scaler = MinMaxScaler()

In [21]:
norm_df = pd.DataFrame(scaler.fit_transform(df2), columns=df2.columns)

In [23]:
y = norm_df['Appliances']
X = norm_df.drop(['Appliances'],axis=1)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
model.fit(X_train,y_train)

LinearRegression()

In [27]:
pred = model.predict(X_test)

In [62]:
MAE = mean_absolute_error(y_test,pred)
round(MAE,2)

0.05

In [31]:
rss = np.sum(np.square(y_test-pred))
round(rss,2)

45.35

In [61]:
MSE = mean_squared_error(y_test,pred)
RMSE = np.sqrt(MSE)
round(RMSE,3)

0.088

In [40]:
r_score = r2_score(y_test,pred)
round(r_score,2)

0.15

In [49]:
def get_weight(model,feat,col_name):
    weights = pd.Series(model.coef_,feat.columns).sort_values()
    weight_df = pd.DataFrame(weights).reset_index()
    weight_df.columns = ["features",col_name]
    weight_df[col_name]
    return weight_df

In [50]:
get_weight(model,X_train,"model_weight")

       features  model_weight
0          RH_2     -0.456698
1         T_out     -0.321860
2            T2     -0.236178
3            T9     -0.189941
4          RH_8     -0.157595
5        RH_out     -0.077671
6          RH_7     -0.044614
7          RH_9     -0.039800
8            T5     -0.015657
9            T1     -0.003281
10          rv2      0.000770
11          rv1      0.000770
12  Press_mm_hg      0.006839
13           T7      0.010319
14   Visibility      0.012307
15         RH_5      0.016006
16         RH_4      0.026386
17           T4      0.028981
18    Windspeed      0.029183
19         RH_6      0.038049
20         RH_3      0.096048
21           T8      0.101995
22    Tdewpoint      0.117758
23           T6      0.236425
24           T3      0.290627
25         RH_1      0.553547

In [54]:
red_model= Ridge(alpha=0.4)

In [56]:
red_model.fit(X_train,y_train)

Ridge(alpha=0.4)

In [59]:
pred_2 = red_model.predict(X_test)

In [60]:
MSE = mean_squared_error(y_test,pred_2)
RMSE = np.sqrt(MSE)
round(RMSE,3)

0.088

In [64]:
les_model = Lasso(alpha=0.001)

In [66]:
les_model.fit(X_train,y_train)

Lasso(alpha=0.001)

In [67]:
get_weight(les_model,X_train,"model_weight")

       features  model_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [68]:
pred_3 = model.predict(X_test)

In [69]:
MSE = mean_squared_error(y_test,pred_3)
RMSE = np.sqrt(MSE)
round(RMSE,3)

0.088